<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<!-- 通用 head -->
<head th:fragment="common_header(title,links,styles)">
    <!-- Common styles and scripts -->
    <title th:replace="${title}"></title>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <th:block th:if="${links!=null}"><th:block th:replace="${links}"/></th:block>
    <th:block th:if="${styles!=null}"><th:block th:replace="${styles}"/></th:block>
</head>

<!-- 通用 js -->
<div th:fragment="common_js(scripts)">
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/oauth/js/bootstrap.alter.js"></script>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="/static/oauth/jquery/jquery.min.js"></script>
    <th:block th:if="${scripts!=null}"><th:block th:replace="${scripts}"/></th:block>
</div>

</html>

