<!DOCTYPE html>
<html lang="en">

<head>
    <#include "common/include.ftl">
    <@common_header "oauth2登录"/>
    <link rel="stylesheet" href="/static/oauth/css/styles.css">
    <style>
        .col-1 {
            width: 3em;
        }
    </style>
</head>

<body>
<div style="display: table-cell; vertical-align: middle;width: 100vw;height: 100vh;" id="app">
    <div class="container col-11 col-md-6" id="form-container">
        <div class="row align-items-center gx-5">
            <div class="col-md-6 order-md-2">
                <h2>Identity统一授权登录</h2>
                <div id="liveAlertPlaceholder"></div>
                <form class="row g-3" id="up">
                    <div class=" mb-3">
                        <input type="text" class="form-control" value="root" id="username" name="username"
                               autocomplete="off"
                               placeholder="请输入用户名">
                    </div>
                    <div class=" mb-3">
                        <input type="password" class="form-control" value="root"  id="password" name="password"
                               placeholder="请输入密码">
                    </div>
                    <div class="mb-2 form-check">
                        <div class="field">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">记住我</label>
                        </div>
                        <div class="field" style="text-align: right">
                            <a href class="session_toggle-button">短信验证登录</a>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="login  btn btn-primary btn-lg " id="up_login" type="button">登 录</button>
                    </div>
                </form>
                <form class="row g-3" id="pc" style="display: none;">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="account" name="account"
                               autocomplete="off"
                               placeholder="请输入手机号">
                    </div>
                    <div class="col-6">
                        <input type="password" name="captcha" class="form-control" id="captcha"
                               placeholder="手机验证码">
                    </div>
                    <div class="col-6">
                        <div class="d-grid">
                            <button type="button" id="send_code" class="btn btn-outline-primary mb-3 ">发送验证码</button>
                        </div>
                    </div>
                    <div class="mb-2 form-check">
                        <div class="field">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">记住我</label>
                        </div>
                        <div class="field" style="text-align: right">
                            <a href class="session_toggle-button">短信验证登录</a>
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="login  btn btn-primary btn-lg " id="pc_login" type="button">登 录</button>
                    </div>
                </form>

                <div class="row g-3 mt-2">
                    <div class="align-items-center my-4 mb-2">
                        <p class="text-center  mx-3 mb-0 text-muted">其他方式登录</p>
                    </div>
                    <div class="col-1 mx-lg-3">
                        <a href="/oauth2/authorization/github" target="_blank">
                            <svg class="icon fs-1" aria-hidden="true">
                                <use xlink:href="#icon-GitHub"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="col-1 mx-lg-3">
                        <a href="/oauth2/authorization/gitee" target="_blank">
                            <svg class="icon fs-1" aria-hidden="true">
                                <use xlink:href="#icon-gitee"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="col-1 mx-lg-3">
                        <a href="/oauth2/authorization/qq" target="_blank">
                            <svg class="icon fs-1" aria-hidden="true">
                                <use xlink:href="#icon-QQ1"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="col-1 mx-lg-3">
                        <a href="/oauth2/authorization/weixin" target="_blank">
                            <svg class="icon fs-1" aria-hidden="true">
                                <use xlink:href="#icon-weixin"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="co-12">
                    <img src="/static/oauth/img/login.png" alt="Log in" class="img-fluid">
                </div>
                <div class="col-12" id="link-container">
                        <span>没有账号？
                            <a href="registration.html">点此注册</a>
                        </span>
                </div>
            </div>
        </div>
        <div class="footer text-center mt-5">
            <p>Apache2 Licensed | Copyright © 2022 ArmorAuth</p>
        </div>
    </div>
</div>

<!-- text/javascript -->
<@common_javascript/>
<script src="/static/oauth/js/iconfont.js"></script>
<script src="/static/oauth/js/oauth2_login.js"></script>
</body>
</html>