server:
  port: 9000
  servlet:
    session:
      tracking-modes: cookie
spring:
  profiles:
    active: mysql
  application:
    name: sas-server
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
    show-sql: true
    generate-ddl: true
    open-in-view: false
    database: mysql
    hibernate:
      ddl-auto: update
  thymeleaf:
    suffix: .html